@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111;
  --foreground: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* styles.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.my-masonry-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -16px; /* 负的外边距来抵消内边距 */
}

.masonry-item {
  flex: 1 0 200px; /* 每个项的最小宽度为200px */
  margin: 16px;
  box-sizing: border-box;
}


